---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// My variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   17px;
$base-font-weight: 400;

$text-color:       #333;
$background-color: #dd9933;
$link-color:       #c78017;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);



/**
 * Reset basic elements
 */

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, figure {
    margin: 0;
    padding: 0;
}

/**
 * Layout
 */

body {
    line-height: 1.6;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    color: $text-color;
    background-color: $background-color;
    font-family: $base-font-family;
}

#wrapper { display: flex; }

#sidebar {
    flex:30%;
    background: #ffffff;
    display: block;
}
#main {
    flex: 70%;
    display: block;
}

#sidebar-content, #content { 
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
 }

.post {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
}

.post-content p, page-content p {
    line-height: 1.6;
    margin: 1em 0;
}


/**
 * Text
 */

h1,h2,h3 { 
    line-height: 1.4; 
    font-weight: $base-font-weight * 2; 
}

h2.post-title h2, h2.page-title{ font-size: $base-font-size * 2 ; }
h2.post-title h2, h2.page-title{ font-size: $base-font-size * 2 ; }

p {
    font-weight: 400;
}

a { color: $text-color;  text-decoration: none; }
a:hover, .post-content a:hover { color: $grey-color; }
.post-content a { color: $link-color; text-decoration: underline; }

/**
 * Code formatting
 */
 
pre, code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}